<div class = "container d-flex">
  <div class = "row mx-auto">
    <div class = "card">
      <div class="card-body">
      <h1 class = "text-center"><%=@task.title%></h1>
        <table class="table table-responsive text-center">
          <thead>
            <tr>
              <th>Description</th>
              <th>Priority</th>
              <th>Status</th>
              <th>Edit</th>
              <th>Delete</th>
              <th>Complete task</th>
            </tr>
          </thead>
          <tbody>
            <tr>
                <td><%=@task.description%></td>
                <td><%=@task.priority%></td>
                <td><%=@task.status%>
                <td><%= link_to "Edit Task", edit_task_path(@task), class: "btn btn-primary btn-sm"%></td>
                <td><%= link_to "Delete Task", task_path, method: :delete, class: "btn btn-danger btn-sm"%></td>
                <% if @task.status == "incomplete" %>
                  <td><%= button_to "Complete task", task_complete_path(@task), class: "btn btn-block btn-sm btn-success", method: :put%></td>
                <%end%>
            </tr>
            </tr>
          </tbody>
        </table>
        <hr>
        <div class = "row">
          <div class = "text-center col">
            <h3 class = "card-title"> Comments</h3>
            <% @task.comments.each do |c|%>
              <div class = "row">
                <p class = "card-text col-1"><%= c.score %></p>
                <p class = "card-text col-6"><%=c.body%></p>
                <div class = "col-2">
                  <%= button_to "Plus", pluses_path, params: {comment_id: c.id, task_id: @task.id}, method: :create, class: "btn btn-block btn-sm btn-success"%>
                </div>
                <div class = "col-2">
                  <%= button_to "Minus", minuses_path, params: {comment_id: c.id, task_id: @task.id}, method: :create, class: "btn btn-block btn-sm btn-danger"%>
                </div>
              </div>
            <%end%>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

