<h3 class = "text-center">Tasks Report</h3>
<div class="container d-flex">
  <div class = 'row mx-auto'>
    <table class="table table-responsive text-center border rounded">
      <thead>
        <tr>
          <th>ID</th>
          <th>Title</th>
          <th>Comment</th>
          <th>Description</th>
        </tr>
      </thead>
      <tbody>

        <% @task.each do |t| %>
          <% unless t.comments.exists?%>
            <tr>
              <td><%= t.id %></td>
              <td><%= t.title %></td>
              <td>No comment yet</td>
              <td><%= t.status%></td>
            </tr>
          <%else%>
            <%t.comments.each do |c|%>
              <tr>
                <td><%= t.id %></td>
                <td><%= t.title %></td>
                <td><%= c.body%></td>
                <td><%= t.status%></td>
              </tr>
            <%end%>
          <% end %>
        <%end%>
      </tbody>
    </table>
  </div>
</div>
